@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,600&display=swap");

.quote {
  text-align: center;
  margin-top: 15vh;
}

.quote p {
  font-family: "Cabin", sans-serif;
  font-weight: bold;
}

.select ::selection {
  background-color: #ff8868;
}

.select p {
  font-size: 2rem;
  letter-spacing: 0.5px;
}

.author {
  font-size: 1.25rem;
}

@media (max-width: 600px) {
  .select p {
    font-size: 1.75rem;
  }
  .author {
    font-size: 1rem;
  }
}

.text {
  position: relative;
  width: 100%;
}

.text::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.text:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.text::before {
  content: " ";
  display: block;
  position: absolute;
  inset: 0;
  background: #ffde66;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}

.control {
  margin: 2rem auto 3rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.control > svg {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.control > svg:active {
  transform: scale(0.9);
}

.control span {
  display: block;
}

.control span:first-of-type {
  cursor: pointer;
}
