@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,600&display=swap");

.quote {
  text-align: center;
  margin: 15vh 0 0 0;
}

.quote p {
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.5px;
}

.quote ::selection {
  background-color: #ff8868;
}

.quote figcaption {
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
}

@media (max-width: 600px) {
  .quote p {
    font-size: 1.5rem;
  }
  .quote figcaption {
    font-size: 1rem;
  }
}

.text {
  position: relative;
  width: 100%;
}

.text::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.text:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.text::before {
  content: " ";
  display: block;
  position: absolute;
  inset: 0;
  background: #ffde66;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}

.copy {
  position: relative;
  margin: 2.5rem 0 3rem 0;
}

.copy img {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 2rem;
}

.copy img:active {
  transform: scale(0.8);
}

.click::before {
  content: "copied";
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  animation: fade-in-out 0.5s ease-in-out forwards;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
