@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,600&display=swap");

.quote {
  text-align: center;
  margin-top: 12rem;
}

.quote p {
  font-family: "Cabin", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.quote ::selection {
  background-color: #ff8868;
}

.quote figcaption {
  font-family: "Cabin", sans-serif;
  font-size: 1.25rem;
}

.copy {
  margin-top: 1rem;
  position: relative;
}

.copy img {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.copy img:active {
  transform: scale(0.9);
}

.click::before {
  content: "copied";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  animation: fade-in-out 0.5s ease-in-out forwards;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.text {
  position: relative;
}

.text::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.text:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.text::before {
  content: " ";
  display: block;
  position: absolute;
  inset: 0;
  background: #ffde66;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}
