.form label {
  font-weight: bold;
  display: block;
}

.form label,
.form input,
.form textarea {
  margin-bottom: 1rem;
}

.form textarea {
  resize: none;
}

.form textarea::-webkit-scrollbar {
  width: 5px;
}

.form textarea::-webkit-scrollbar-thumb {
  background-color: #8f8f8f;
  border-radius: 1rem;
}

.invalid {
  border-color: #ff8383 !important;
  background-color: #fff3f3;
}

.invalid:focus {
  border-color: #ffd298 !important;
  background-color: #fff8ee;
}

.actions {
  text-align: right;
}
