.form {
  position: relative;
}

.control {
  margin-bottom: 1rem;
}

.control label {
  font-weight: bold;
  display: block;
  margin-bottom: 1rem;
}

.control input,
.control textarea {
  font: inherit;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #dedede;
  display: block;
  width: 100%;
  transition: all 0.25s ease-in-out;
}

.control input:focus,
.control textarea:focus {
  outline: none;
  border-color: #9b9b9b;
}

.invalid input,
.invalid textarea {
  border-color: #ff8383 !important;
  background-color: #fff3f3;
}

.invalid input:focus,
.invalid textarea:focus {
  border-color: #ffd298 !important;
  background-color: #fff8ee;
}

.actions {
  text-align: right;
}

@media (max-width: 600px) {
  .form {
    font-size: 0.75rem;
  }
}
