.form {
  margin-top: 1rem;
  position: relative;
  text-align: center;
}

.control label {
  font-weight: bold;
  display: block;
}

.control textarea {
  font: inherit;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
  border: 1px solid #dedede;
  width: min(100%, 30rem);
  transition: all 0.25s ease-in-out;
}

.control textarea:focus {
  border-color: #9b9b9b;
}

.invalid {
  border-color: #ff8383 !important;
  background-color: #fff3f3;
}

.invalid:focus {
  border-color: #ffd298 !important;
  background-color: #fff8ee;
}
