.comments {
  text-align: center;
  position: fixed;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
  width: min(90%, 40rem);
  padding: 3rem;
  border-radius: 1.5rem;
  max-height: 70vh;
  z-index: 30;
  overflow-y: scroll;
}

.comments::-webkit-scrollbar {
  display: none;
}
