.item {
  margin: 1rem auto;
  width: min(100%, 30rem);
  border-bottom: 1px solid #c6c6c6;
  transition: all 0.15s ease-in-out;
}

.item:hover {
  border-color: #7b7b7b;
}

.see {
  border: none;
  background-color: white;
  display: inline;
  font-size: 1rem;
  color: #737373;
  cursor: pointer;
}
