.form {
  margin-top: 1rem;
  position: relative;
  text-align: center;
}

.control label {
  font-weight: bold;
  display: block;
}

.control textarea {
  width: min(100%, 35rem);
  margin: 1rem 0;
}

.control textarea:focus {
  border-color: #9b9b9b;
}

.control textarea::-webkit-scrollbar {
  width: 5px;
}

.control textarea::-webkit-scrollbar-thumb {
  background-color: #8f8f8f;
  border-radius: 1rem;
}

.invalid {
  border-color: #ff8383 !important;
  background-color: #fff3f3;
}

.invalid:focus {
  border-color: #ffd298 !important;
  background-color: #fff8ee;
}
