@font-face {
  font-family: one;
  src: url("samsungone.ttf");
}

* {
  box-sizing: border-box;
  font-family: one, sans-serif;
}

body {
  margin: 0;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  border: none;
  text-decoration: none;
  font-size: 1rem;
  background-color: #434343;
  color: white;
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn:focus-visible {
  outline: none;
}

.btn:hover,
.btn:active {
  background-color: #535353;
}
