@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.25);
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.card {
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
}

.btn {
  border: none;
  text-decoration: none;
  font-size: 1rem;
  background-color: #434343;
  color: white;
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn:focus-visible {
  outline: none;
}

.btn:hover,
.btn:active {
  background-color: #555555;
}
