@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

* ::selection {
  background-color: #bcdcff;
}

textarea:focus-visible,
input:focus-visible {
  outline: none;
}

body {
  margin: 0;
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.25);
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
}

.btn {
  border: none;
  outline: none;
  text-decoration: none;
  font-size: 1rem;
  background-color: #434343;
  color: white;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #5d5d5d;
}

/* @media (max-width: 600px) {
  .btn {
    font-size: 0.75rem;
  }
} */
