.form h3 {
  margin: 0;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.form label,
.form input {
  margin-bottom: 1rem;
}

.form label {
  font-weight: bold;
  display: block;
}

.form input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #dedede;
  display: block;
  width: 100%;
  transition: all 0.25s ease-in-out;
}

.form input:focus {
  border-color: #9b9b9b;
}

.invalid {
  border-color: #ff8383 !important;
  background-color: #fff3f3;
}

.invalid:focus {
  border-color: #ffd298 !important;
  background-color: #fff8ee;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action span {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

/* @media (max-width: 600px) {
  .form {
    font-size: 0.75rem;
  }
} */
