.spinner {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 5px solid #434343;
  border-color: #434343 transparent #434343 transparent;
  animation: spinner 1.25s ease-in-out infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
