.footer {
  gap: 1rem;
}

.footer button {
  border: none;
  font-size: 1rem;
  background-color: white;
}

.footer svg {
  color: rgba(0, 0, 0, 0.75);
}

.footer button,
.footer svg {
  cursor: pointer;
}

.incurrent {
  color: rgba(0, 0, 0, 0.5);
}
