.prompt {
  position: fixed;
  left: 50%;
  top: 5vh;
  transform: translateX(-50%);
  z-index: 10;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.prompt a {
  color: #0071e3;
  text-decoration: none;
}

.open {
  animation: pop-down 0.25s ease-in-out forwards;
}

.close {
  animation: pop-up 0.25s ease-in-out forwards;
}

@keyframes pop-down {
  from {
    top: 2.5vh;
    opacity: 0;
  }
  to {
    top: 5vh;
    opacity: 1;
  }
}

@keyframes pop-up {
  from {
    top: 5vh;
    opacity: 1;
  }
  to {
    top: 2.5vh;
    opacity: 0;
  }
}
