.select {
  position: relative;
}

.select ul {
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 0;
  position: absolute;
  left: 0;
  list-style: none;
  border-radius: 0.5rem;
}

.select ul li {
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.select ul li:last-child {
  border: none;
}

.select ul li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.open {
  animation: fade-in 0.25s ease-in-out forwards;
}

.close {
  animation: fade-out 0.25s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
